* {
  box-sizing: border-box;
}

.line{
    color: rgb(81, 152, 219);
    font-size: x-large;
    margin-top: -5;   
    padding-top: 0;  
}

h1{
    margin-bottom: 0;
    color: rgb(81, 152, 219);
}

h2{
    color: rgb(81, 152, 219);
    margin-bottom: 0;
}

.fa-angle-right{
    color: rgb(81, 152, 219);
}

.profile {
  display: flex;
  align-items: flex-start;
  gap: 30px; 
}

.profile img {
  width: 300px;   
  height: auto;
  border-radius: 10px; 
}

.info {
  flex: 1;
}

.anglei {
  display: flex;       
  justify-content: space-between; 
  gap: 20px;
  margin-top: 20px;
}

.anglei .col {
  flex: 1;            
}

.anglei p {
  margin: 5px 0;       
}

/* skills */

.skills-section {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.col {
  flex: 1;
}

.bar-container {
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 25px;
  overflow: hidden;
}

.bar {
  height: 100%;
  color: white;
  text-align: right;
  padding-right: 10px;
  line-height: 25px;
  background-color: rgb(81, 152, 219);
  border-radius: 5px;
  font-weight: bold;
}

.bar.html     { width: 100%; }
.bar.css      { width: 90%; }
.bar.js       { width: 75%; }
.bar.python   { width: 80%; }
.bar.api      { width: 90%; }
.bar.react    { width: 85%; }

/* facts */

.factsi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  text-align: center;
}

.fact {
  flex: 1 1 200px;
  padding: 20px;
}

.fact i {
  font-size: 2.5rem;
  color: rgb(81, 152, 219);
  margin-bottom: 10px;
  display: block;
}

.fact h3 {
  font-size: 2rem;
  margin: 0;
  color:rgb(81, 152, 219);
}

.fact p {
  margin-top: 10px;
  font-size: 0.95rem;
}
